#form-component-container {
  width: 100%;
}

#form-component-container .field-title {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

#form-component-container .field-container {
  margin: 10px 0px;
}
#form-component-container .form-component-button-container {
  display: flex;
  justify-content: space-between;
}
