.item-menu-item-container {
  border-top: 2px dashed rgba(0, 0, 0, 0.4);
  padding: 10px 0px;
}

.item-menu-item-img {
  position: relative;
}

.item-menu-item-img img {
  width: 100%;
}

.item-menu-item-title-mobile {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px 0px;
  font-size: 1.5em;
  width: 100%;
}
.item-menu-item-title {
  font-size: 1.5em;
  font-weight: bold;
}
.item-menu-item-price {
  background-color: maroon;
  font-size: 1.5em;
  padding: 5px 0px;
  color: white;
  outline: 2px dashed white;
  outline-offset: -4px;
}
.item-menu-item-description {
  display: flex;
  justify-content: end;
  padding: 10px 0px;
  font-size: 1.2em;
}
