#main-home-search-container {
  padding: 5%;
  width: 50%;
}

@media (max-width: 600px) {
  #main-home-search-container {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  #main-home-search-container {
    width: 80%;
  }
}

.main-home-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}
