.main-search-suggestions-container {
  width: 100%;
  position: absolute;
  background: white;
  top: 60px;
  border-radius: 10px;
  box-shadow: 0px 5px 14px rgba(0, 0, 255, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.suggestions-container-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0s linear;
  -webkit-transition: visibility 0s, opacity 0s linear;
  -moz-transition: visibility 0s, opacity 0s linear;
  -ms-transition: visibility 0s, opacity 0s linear;
  -o-transition: visibility 0s, opacity 0s linear;
}

.suggestions-container-show {
  visibility: visible;
  opacity: 1;
}

.main-suggestion-container > ul {
  list-style: none;
  margin: 0px;
  padding: 5px;
}

.main-suggestion-container > ul li {
  justify-content: start;
  display: flex;
  padding: 5px 0px;
  font-size: 1.2em;
  cursor: pointer;
}

.main-suggestion-container > ul li.no-found:hover {
  cursor: default;
  font-weight: normal;
}

.main-suggestion-container > ul li:hover {
  font-weight: bold;
}
