#main-search-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 255, 0.3);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}

.main-search-icon-container {
  /* margin: 5px; */
}
.main-search-icon {
  fill: rgba(0, 0, 255) !important;
  align-items: center;
  vertical-align: middle;
  margin-left: 5px;
}

.main-suggestion-container {
  margin: 10px;
  min-height: 50px;
  overflow-y: auto;
  max-height: 500px;
}

.main-search-loading-icon {
  width: 35px;
  margin-right: 10px;
  margin-top: 5px;
}
