#menu-item-image-box {
  display: flex;
  height: 300px;
  width: 100%;
  justify-content: center;
  background-size: cover;
}

#menu-item-image-box img {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  object-fit: cover;
}
