#logout-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  /* transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); */
}

#logout-container .logout-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}
