.App {
  text-align: center;
}
html,
body {
  height: 100%;
  margin: 0;
}
.center-middle {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.link-text {
  text-decoration: none;
  color: inherit;
}

.link-bold {
  font-weight: 500;
}

.link-text:hover {
  color: #555151;
}
